body {
    margin-left: 20px;
    margin-right: 20px;
}
/*.navbar { background-color:#8cc449;}*/
.navbar-brand {
    background-color: #8cc449;
}

.row-sep {
    height: 25px;
}

.blind {
    display: none;
}

.popover {
    color: tomato;
}

    .popover.bottom .arrow:after {
        border-bottom-color: tomato;
    }



#topspacer {
    margin-top: 60px;
}

.nav-tabs > li > a {
    background-color: #032E42;
}

.panel {
    background-color: #000000;
}

.panel-default > .panel-heading {
    background-color: #212020;
}

.green-text {
    color: #8cc449;
}



#graphTop10 {
    width: 95%;
    height: 280px;
}

#graphTop10Lifetime {
    width: 95%;
    height: 280px;
}

#graphRadio {
    width: 95%;
    height: 280px;
}

#graphTV {
    width: 95%;
    height: 280px;
}

#graphOverall {
    width: 95%;
    height: 280px;
}

#graphComparison {
    width: 95%;
    height: 280px;
}

.songstats {
    padding: 5px;
    background-color: #212020;
    color: #8cc449;
    width: 150px;
    height: 200px;
}

.songinfo {
    padding: 5px;
    background-color: #212020;
    color: #8cc449;
    width: 150px;
    height: 200px;
}

.centerit {
    text-align: center;
}


.white {
    color: #ffffff;
}

/**admin pages*/

#graphFinger {
    width: 95%;
    height: 280px;
}

#graphMatches {
    width: 95%;
    height: 280px;
}

.margin_bottom_large {
    height: 20px;
}

/****audio.js media player customisations start*****/
.audiojs .scrubber {
    background: none repeat scroll 0 0 #5A5A5A;
    border-bottom: 0 none;
    border-left: 0 none;
    border-top: 1px solid #3F3F3F;
    float: left;
    height: 14px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 75px; /* smaller width */
}

.audiojs .time {
    border-left: 1px solid #000000;
    color: #DDDDDD;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0; /* no margin */
    padding: 0 6px 0 9px; /* 2px smaller left padding */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.audiojs {
    font-family: monospace;
    width: 90%;
}
/****audio.js media player customisations end *****/
